*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Clases  */
/* Principal */
body{
    background-color: rgb(11, 19, 26);
    height:100%;
    min-height: 100%;
    min-height: 100vh;
}

.auth{
    text-decoration: none;
    color: #fff;
}

.dimensiones{
    display: flexbox;
    height: 100vh;
    position: relative;
    min-height: 100%;
    padding-bottom:50px;
}

.encabezado{
    background-image: url(../img/header.jpg);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
}

.encabezado img{
    width: 50px;
    height: 40px;
}

.encabezado h1{
    letter-spacing: 1px;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 5px rgb(20, 227, 241),
    0 0 25px rgb(20, 227, 241),
    0 0 50px rgb(20, 227, 241),
    0 0 75px rgb(20, 227, 241);
}

.barraNav nav{
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-top: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(20, 227, 241),
    0 0 10px rgb(20, 227, 241),
    0 0 20px rgb(20, 227, 241),
    0 0 5px rgb(20, 227, 241);
}

.barraNav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 25%;
    padding: 1%;
}

.barraNav a:hover{
    background: rgb(20, 227, 241);
    transition: 0.5s;
}

.selected{
    background-color: rgb(35, 142, 150);
}

.contenido{
    display: flex;
    justify-content: center;
    min-height: 67vh;
    width: 80%;
    
}

.contenido_presentacion{
    width: 70%;
    color: white;
    padding: 2%;
}

.contenido_presentacion h1{
    font-size: 32px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.contenido_presentacion p{
    font-size: 20px;
    color: white;
    text-align: justify;
}

.contenido_prodFav{
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-bottom: 7%;

}

.contenido_prodFav h1{
    font-size: 32px;
    color: white;
}

.prodFav{
    background-color: rgb(37, 37, 37);;
    width: 350px;
    height: 500px;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(20, 227, 241),
    0 0 0.6rem rgb(20, 227, 241),
    0 0 1.4rem rgb(20, 227, 241),
    inset 0 0 0.5rem rgb(20, 227, 241);
    color: #fff;
}

.prodFav img{
    max-width: 300px;
    height: 50%;
    display: flex;
    align-items: center;
}

.prodFav a{
    text-decoration: none;
    color: white;
}

.piePag{
    /* background-color: rgb(68, 68, 68); */
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
    width: 100%;
    line-height:50px;
    bottom:0;
    left:0;
    position: fixed;
    /* bottom: 0; */ 
}

/* Empresa */
.contenido_empresa{
    align-items: center; display:flex; flex-direction: column;
    padding: 2%;
    color: white;
    padding-bottom: 200px;
}

.contenido_empresa img{
    margin: 1%;
    width: 200px; height: 200px;
}

/* Contactos */
.contenido_contacto{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 67vh;
    padding-bottom: 200px;
}

.contacto{
    color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2%;
    padding: 3%;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(20, 227, 241),
    0 0 10px rgb(20, 227, 241),
    0 0 20px rgb(20, 227, 241),
    0 0 5px rgb(20, 227, 241);
    min-width: 30%;
    max-width: 80%;
}

/* Productos */
.contenido_productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1% auto;
    padding-bottom: 160px;
}


/* Página de autenticación */
.autorizacion{
    border: 2px solid darkcyan;
    margin-top: 200px;
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    height: 400px;
    background-color: gainsboro;
    justify-content: space-around;
    text-align: center;
    text-align-last: justify;
}

.autorizacion2{
    text-align: center;
    text-align-last: center;
}


/* Productos mostrados con JS */
.card {
    border: 1px solid black;
    width: 300px;
    height: 450px;
    margin: 1% auto;
    text-align: center;
    font-family: arial;
    background-color: aliceblue;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
  
.price {
    color: grey;
    font-size: 22px;
}

.card h2{
    color: #000;
}

.card p{
    padding: 1%;
    color: #000;
}

.card img{
    width: 60%;
    height: 100px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

#lista{
    background-color: darkolivegreen;
    width: 80%;
    height: auto;
    /* position: absolute; */
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 100px;
}

/* Página de administrador */
.authFONDO{
    color: white;
    height: 100%;
}

.admin_HEADER{
    background-color: darkcyan;
    text-align: center;
    height: 20%;
    padding: 20px;
}

.admin_SECTION{
    padding: 20px;
}

.admin_SECTION_DATOS{
    display: flex;
    flex-flow: row wrap;
}

.admin_SECTION_IMAGEN{
    display: flexbox;
    flex-flow: row wrap;
    width: 100%;
}

.admin_SECTION_BOTONES{
    display: flexbox;
    flex-flow: row wrap;
    text-align: center;
}

.admin_SECTION_BOTONES button{
    background-color: cornflowerblue;
    padding: 5px;
    color: #fff;
    font-weight: 900;
    margin: 10px;
    cursor: pointer;
}

.admin_FOOTER{
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
    width: 100%;
    line-height:50px;
    bottom:0;
    left:0;
    position: fixed;
}


/* Responsive en celular y tablets */
@media screen and (max-width: 700px){
    .barraNav nav{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        width: 100%;
    }
    
}

@media screen and (max-width: 700px){
    .barraNav a{
        padding: 20px;
        margin: 0px;
        width: 100%;
    }
    
}

@media screen and (max-width: 700px){
    .selected{
        min-width: 100%;
        margin: 0px;
    }
    
}

@media screen and (max-width: 1300px){
    .contenido{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .contenido_prodFav{
        width: auto;
    }
    
    
}

@media screen and (max-width: 700px){
    .contenido{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 90%; */
    }
    .prodFav{
        width: 100%;
        max-width: 250px;
    }
    .prodFav img{
        width: 100%;
        height: auto;
    }
    .piePag{
        position: unset;
    }

    .admin_SECTION_DATOS{
        display: flex;
        flex-flow: column wrap;
    }
    .admin_SECTION_BOTONES{
        display: flex;
        flex-flow: column wrap;
    }
    .admin_SECTION_IMAGEN{
        display: flexbox;
        flex-flow: column wrap;
        text-align: center;
    }
    #lista{
        background-color: none;
    }
}


@media screen and (max-width: 700px){
    .contenido_productos{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 700px){
    .contenido_empresa{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}


/* ID */
/* @media screen and (max-width: 700px){
    section{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
} */
